img.front-image{
    opacity: 1;
    transition: opacity 0.5s;
    position: relative;
    z-index: 2;
}

img.front-image:hover{
    opacity: 0;
}

.badges-section{
    bottom: 60px;
    z-index: 999;
}
